---
---

<header class="m-auto max-w-screen-xl flex place-content-center justify-items-center justify-between p-8">
    <h1 class="text-4xl text-white font-bold text-center self-center">
        440
    </h1>
    <nav class="md:cursor-pointer self-center">
        <ul>
            <li>
                <button class="text-gray-100 text-xs sm:text-sm border rounded-lg font-sans p-2 px-4 tracking-widest">LOGIN</button>
            </li>
        </ul>
    </nav>
</header>



