<section class="border rounded-xl p-4 text-gray-400 font-sans font-bold text-xs">
    <ul class="flex flex-col gap-3">
        <li class="md:cursor-pointer">Profile</li>
        <hr>
        <li class="md:cursor-pointer">Logout</li>
    </ul>
</section>